h3{
    text-align: center;
    margin: 50px;
}
p{
    text-align: justify;
    padding: 50px;
    margin: 20px;
    box-shadow: 1px 1px 10px;
}
img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}